* { margin: 0; padding: 0; box-sizing: border-box; }

:root { color-scheme: dark; }

body { padding: 0 1em; min-width: 17.5rem; min-height: 100vh; font: 1em/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif; color: #b1b1b3; background: #1b1b1d; scroll-behavior: smooth; }

a:active, a:focus { outline: 1px dotted rgba(255, 255, 255, 0.5); outline-offset: 0.25rem; }

a:focus:not(:active) { outline: 0.1875rem solid #fff; -moz-outline-radius: 0.25rem; outline-offset: 0.25rem; }

code { line-height: 1; font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace; }

p code { font-size: 85%; padding: 0.2em 0.4em; border-radius: 0.1875rem; background-color: rgba(255, 255, 255, 0.125); }

.button { display: inline-flex; align-items: center; justify-content: center; min-height: 2.5rem; padding: 0.25rem 1rem; color: #fff; font-size: 1rem; text-decoration: none; text-align: center; border-radius: 0.1875rem; border: 0.0625rem solid rgba(255, 255, 255, 0.2); background: none; cursor: pointer; }
.button:focus, .button:hover { background: rgba(255, 255, 255, 0.2); }
.button:active, .button:focus { outline: 1px dotted #fff; outline-offset: 0.25rem; border-color: rgba(255, 255, 255, 0.75); }
.button::-moz-focus-inner { border: none; }

.button .icon { margin-right: 0.25em; }

.button-group { display: flex; flex-direction: row; flex-wrap: wrap; align-items: flex-start; margin: -0.5rem; }
.button-group:not(:last-child) { margin-bottom: 0.5rem; }
.button-group > .button { margin: 0.5rem; }

.caniemail { max-width: 50rem; margin: 6.25rem auto; }
.caniemail a { color: inherit; }
.caniemail h1, .caniemail h2, .caniemail h3, .caniemail .intro { color: #fff; }
.caniemail header { margin-bottom: 2.5rem; }
.caniemail h1 { font-size: 2.5rem; margin-bottom: 0.5em; }
.caniemail .intro { font-size: 1.5rem; }
.caniemail .meta { margin-top: 1.25rem; }
.caniemail section { margin-bottom: 2.5rem; }
.caniemail section h2 { margin-bottom: 1em; font-size: 1.5rem; border-bottom: 1px solid #b1b1b3; }
.caniemail section h3 { margin-top: 2em; margin-bottom: 1em; }
.caniemail section p { margin-bottom: 1em; }
.caniemail .field { margin-bottom: 1rem; }
.caniemail .field > label { display: block; color: #fff; font-weight: bold; margin-bottom: 0.25rem; }
.caniemail .field select { border: none; border-radius: 0.25rem; padding-left: 0.5em; height: 3rem; font-family: inherit; font-size: inherit; max-width: 100%; }
.caniemail .field input[type="radio"] { width: 1.25rem; height: 1.25rem; vertical-align: middle; }
.caniemail .button { min-width: 8rem; }
.caniemail .embed-code { display: inline-flex; align-items: center; justify-content: center; min-height: 6.5rem; width: 40rem; max-width: 100%; padding: 0.25rem; margin: 0.5rem 0; color: #fff; font-size: 1rem; line-height: 1.5; font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace; text-decoration: none; text-align: left; border-radius: 0.1875rem; border: 0.0625rem solid rgba(255, 255, 255, 0.2); background: rgba(255, 255, 255, 0.2); cursor: pointer; outline: none; resize: vertical; overflow: hidden; }
.caniemail .embed-code:focus { border-color: #fff; }
